@charset "UTF-8";

// Utility Link on Hero banner

.config_pages--view-mode--site-settings-header {
  a {
    font-family: $su-font-sans;
    font-weight: 500;

    &.su-button {
      background: $vpue-gradient-sea-to-light-sea-utility;

      &:hover,
      &:focus {
        color: $su-color-white;
        background: $su-color-bright-red;
      }
    }
  }
}

// Homepage changes.
.front {
  .config_pages--view-mode--site-settings-header {
    a {
      color: $su-color-white;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
        color: $vpue-color-light-sea-utility;
      }

      &::after {
        fill: $vpue-color-off-white;
      }

      &:hover,
      &:focus {
        &::after {
          background-color: $vpue-color-light-sea-utility;
        }
      }

      &.su-button {
        &:hover,
        &:focus {
          color: $su-color-white;
        }
      }
    }
  }
}

.su-mobile-utility-button {
  a {
    &.su-button {
      background: $vpue-gradient-sea-to-light-sea-utility;

      &:hover,
      &:focus {
        color: $su-color-white;
        background: $su-color-bright-red;
      }
    }
  }
}

// Utility button placement
// Homepage.
.front {
  .su-mobile-utility-button {
    .su-site-header-button {
      right: 20px;
      top: 30px;

      @include grid-media-max('md') {
        right: 50px;
      }
      @include grid-media-max('sm') {
        right: 35px;
      }
    }
  }
}

// All other pages
.su-mobile-utility-button {
  .su-site-header-button {
    right: 20px;
    top: 50px;

    @include grid-media-max('md') {
      right: 50px;
    }
    @include grid-media-max('sm') {
      right: 35px;
    }
  }
}
