@charset "UTF-8";

// Utility Link on Hero banner

.config_pages--view-mode--site-settings-header {
  a {
    font-family: $su-font-sans;
    font-weight: 500;
  }
}

// Homepage changes.
.front {
  .config_pages--view-mode--site-settings-header {
    a {
      color: $vpue-color-off-white;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
        color: $vpue-color-orange;
      }

      &::after {
        fill: $vpue-color-off-white;
      }

      &:hover,
      &:focus {
        &::after {
          background-color: $vpue-color-orange;
        }
      }

      &.su-button {
        &:hover,
        &:focus {
          color: $vpue-color-off-white;
          background-color: $su-color-bright-red;
        }
      }
    }
  }
}


