@charset "UTF-8";

// Link display and hovers use border-bottom instead.
@mixin vpue-gradient--link {
  color: $su-color-white;
  text-decoration: none;
  background: linear-gradient(to right, $vpue-color-sea, $vpue-color-light-sea, $vpue-color-sage);
  background-repeat: repeat-x;
  background-size: 100% 2px;
  background-position: 0 95%;
}

@mixin vpue-gradient--link-hover {
  background: linear-gradient(to right, $vpue-color-sage, $vpue-color-sage);
  background-repeat: repeat-x;
  background-size: 100% 2px;
  background-position: 0 95%;
}

@mixin vpue--image-top-gradient {
  background: linear-gradient(to bottom, black, transparent, black);
}
