@charset "UTF-8";

html {
  @include vpue-font--lora-base;
  font-size: $su-root-font-size;
}

// overriding fonts from Stanford Basic
.su-link--internal,
[type="image"],
[type="reset"],
[type="submit"] {
  @include vpue-font--lora-base;
}

body {
  @include modular-typography-base;
  @include vpue-font--lora-base;
  color: $su-color-black;
}

// Do NOT override the fonts in the global footer, local footer, fat footer, lockup, and global message
.su-global-footer,
.su-local-footer,
.vpue-fat-footer,
.su-lockup,
.su-alert,
.su-alert__heading {
  @include sans;
}

p {
  line-height: $su-base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6,
*[class^="su-type"] {
  @include types;
}

h1,
.su-type-a {
  @include type-a;
  // Note that h1 is overridden below:
}

h2,
.su-type-b {
  @include type-b;
}

h3,
.su-type-c {
  @include type-c;
}

h4,
.su-type-d {
  @include type-d;
}

h5,
.su-type-e {
  @include type-e;
}

h6,
.su-type-f {
  @include type-f;
}

// VPUE specifics
h1,
h2,
h3,
h4,
h5,
su-font-splash,
p.su-callout-text {
  @include vpue-font--lora-base;
}

// check specifics
.su-drop-cap::first-letter {
  @include vpue-font--lora-base;
}

// overridding decanter and base specific source sans declaration
.su-card .su-card__contents {
  @include vpue-font--lora-base;
}