{# Glue code for Decanter's component #}
{% import "@jumpstart_ui/macros/field-links-to-list.twig" as linklist %}
{% import "@jumpstart_ui/macros/field-links-to-social-list.twig" as sociallist %}


<div class="vpue-fat-footer su-local-footer">
  <div class="vpue-gradient-divider"></div>
  <div class="su-local-footer__header vpue-fat-footer__header">
    <div class="vpue-fat-footer__logo-container">
      <a href="http://vpue.stanford.edu/">
        <img src="{{ base_path ~ directory }}/dist/assets/svg/vpue-logo.svg" class="vpue-fat-footer__logo" alt="Stanford VPUE Logo" role="img" />
      </a>
    </div>
  </div>
  <div class="vpue-fat-footer__columns su-local-footer__columns">
    <div class="vpue-fat-footer__cell1 su-local-footer__cell1">
      <div class="vpue-fat-footer__lockup">
        <div class="su-lockup su-lockup--option-k">
          <a href="http://vpue.stanford.edu/">
            <div class="su-lockup__cell1">
              <div class="su-lockup__wordmark-wrapper">
                <span class="vpue-fat-footer__lockup-wordmark su-lockup__wordmark">Stanford</span>
              </div>
            </div>
            <div class="su-lockup__cell2">
              <span class="vpue-fat-footer__lockup-line1 su-lockup__line1">VPUE</span>
            </div>
            <div class="vpue-fat-footer__lockup-line5 su-lockup__line5">Vice Provost for Undergraduate Education</div>
          </a>
        </div>
      </div>
      <div class="vpue-fat-footer__description">
        <span>Stanford Undergrad is your guide to undergraduate academics and opportunities found within the Vice Provost for Undergraduate Education.</span>
      </div>
      <address class="vpue-fat-footer__address su-local-footer__address">
        <p class="address" translate="no">
          <span class="address-line1">Sweet Hall</span><br>
          <span class="address-line2">590 Escondido Mall</span><br>
          <span class="locality">Stanford</span>, <span class="administrative-area">CA</span> <span class="postal-code">94305</span><br>
          <span><a class="vpue-fat-footer__map-link su-link--external" href="https://www.google.com/maps/place/Sweet+Hall+(AIR),+590+Escondido+Mall,+Stanford,+CA+94305/@37.425208,-122.166616,16z/data=!4m5!3m4!1s0x808fbad6e630d36f:0x217fdab2330861cf!8m2!3d37.4252082!4d-122.1666157?hl=en-US">map</a></span><br>
      </address>

      {# Stylized links. See local-footer.json for structure for macro. #}
        {# <ul class="vpue-fat-footer__action-links su-local-footer__action-links">
          <li><a href="http://giving.stanford.edu/">Give to Stanford</a></li>
        </ul> #}

      {# Stylized links. See local-footer.json for structure for macro. #}
      <h2 class="vpue-fat-footer__list-heading">Connect with us!</h2>
      <ul class="vpue-fat-footer__social-links su-local-footer__social-links">
        <li>
          <a href="https://twitter.com/StanfordVPUE" class="su-local-footer__social-twitter">
            <i aria-hidden="true"></i>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/stanford/" class="su-local-footer__social-facebook">
            <i aria-hidden="true"></i>
            <span>Stanford Facebook</span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/stanford_vpue" class="su-local-footer__social-instagram">
            <i aria-hidden="true"></i>
            <span>Stanford Instagram</span>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCNAz7OoWHquLxR6AUZTL5Mw" class="su-local-footer__social-youtube">
            <i aria-hidden="true"></i>
            <span>Youtube</span>
          </a>
        </li>
        <li>
          <a href="internal:/interior-page" class="su-local-footer__social-internal:">
            <i aria-hidden="true"></i>
            <span>local link</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="su-local-footer__cell2 vpue-fat-footer__cell2">

      {# Link Section 1 - top left links. #}
      <nav class="vpue-fat-footer__links-section vpue-fat-footer__links-section-1" aria-label="vpue footer section 1">
        {# Contact section. #}
        <ul class="vpue-fat-footer__contact">
          <li class="contact-line1">Need help?</li>
          <li><a href="mailto:vpue@stanford.edu" class="contact-link mailto">vpue@stanford.edu</a></li>
          <li><a href="tel:(650)724-4463" class="contact-link contact-phone">(650)724-4463</a></li>
        </ul>
        <h2 class="vpue-fat-footer__list-heading">More to Explore</h2>
        <ul class="vpue-fat-footer__links-column-1a">
          <li><a href="https://advising.stanford.edu/">Academic Advising</a></li>
          <li><a href="https://undergrad.stanford.edu/opportunities">Research & Independent Projects</a></li>
          <li><a href="https://undergrad.stanford.edu/tutoring-support/tutoring">Tutoring & Support</a></li>
          <li><a href="https://undergrad.stanford.edu/faculty-and-staff">For Faculty / Staff</a></li>
        </ul>
        <h2 class="vpue-fat-footer__list-heading vpue-fat-footer__list-heading-column1b">VPUE Units</h2>
        <ul class="vpue-fat-footer__links-column-1b">
          <li><a href="https://advising.stanford.edu/">Academic Advising</a></li>
          <li><a href="https://bosp.stanford.edu/">Bing Overseas Studies Programs</a></li>
          <li><a href="https://ctl.stanford.edu/">Center for Teaching and Learning</a></li>
          <li><a href="https://haas.stanford.edu/">Haas Center for Public Service</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/pwr">Program in Writing and Rhetoric</a></li>
          <li><a href="https://sis.stanford.edu/">Stanford Introductory Studies</a></li>
          <li><a href="https://undergrad.stanford.edu/about/meet-vice-provost">Vice Provost’s Office</a></li>
        </ul>
      </nav>

      {# Link Section 1 - top left links. #}
      <nav class="vpue-fat-footer__links-section vpue-fat-footer__links-section-3" aria-label="vpue footer section 3">
        <h2 class="vpue-fat-footer__list-heading">VPUE Programs</h2>
        <ul class="vpue-fat-footer__links-column-2">
          <li><a href="https://undergrad.stanford.edu/programs/arts-intensive">Arts Intensive</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/bing-honors-college">Bing Honors College</a></li>
          <li><a href="https://bosp.stanford.edu/">Bing Overseas Studies Programs</a></li>
          <li><a href="https://cardinalservice.stanford.edu/">Cardinal Service</a></li>
          <li><a href="https://college.stanford.edu/">Civic, Liberal, and Global Education</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/special-focus-programs/education-self-fashioning-esf">Education as Self-Fashioning</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/frosh101">Frosh 101 / Transfer 101</a></li>
          <li><a href="https://haas.stanford.edu/">Haas Center for Public Service</a></li>
          <li><a href="https://sis.stanford.edu/">Introductory Studies</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/italic">ITALIC: Immersion in the Arts</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/lelandscholars">Leland Scholars</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/oral-communication-program">Oral Communication Program</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/pwr">Program in Writing and Rhetoric</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/sophomore-college">Sophomore College</a></li>
          <li><a href="https://undergrad.stanford.edu/opportunities-research/sophomore-programs">Sophomore Programs</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/sophomore-wayfinders">Sophomore Wayfinders</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/sle">Structured Liberal Education</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/stanford-in-new-york">Stanford in New York</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/summer-bridge">Summer Bridge Programs</a></li>
          <li><a href="https://undergrad.stanford.edu/programs/ways">Ways of Thinking / Ways of Doing</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
