@charset "UTF-8";



.su-masthead {
  
  .su-lockup__logo-wrapper {
    display: grid;
    grid-template-columns: [col1-start] 100px  [col2-start] 240px;
    // grid-template-rows: [row1-start] auto [row2-start];

    max-width: 340px;

    @include grid-media-max('sm') {
        grid-template-columns: [col1-start] 70px  [col2-start] 200px;

        max-width: 270px;
      }

    .vpue-lockup__custom-logo {
      grid-column: col1-start ;
      grid-row: row1-start / row2-end;

      width: 100px;

      @include grid-media-max('sm') {
        width: 70px;
      }
    }

    .vpue-lockup__su {
      grid-column: col2-start;
      grid-row: row1-start ;

      color: $su-color-bright-red;
      max-height: 50px;
      margin-left: -40px;

      @include grid-media-max('sm') {
        margin-left: 10px;
      }

      svg {
        fill: currentColor;
      }
    }

    .vpue-lockup__vpue {
      grid-column: col2-start;
      grid-row: row2-start ;

      color: $su-color-black;
      max-height: 50px;
      margin-top: 0.1em;
      margin-left: -40px;

      @include grid-media-max('sm') {
        margin-left: 10px;
      }

      svg {
        fill: currentColor;
      }
    }

    .su,
    .vpue {
      max-width: 100%;
      max-height: 100px;

      @include grid-media-max('sm') {
        width: 75%;
        margin-top: -15px;
      }
    }
  }

  .su-multi-menu {
  
    // All ul containers.
    // -----------------------------------------------------------------------
    .su-multi-menu__menu {
  
      // All link elements.
      // -----------------------------------------------------------------------
      .su-multi-menu__link {
  
        &:hover,
        &:focus {
          &::before {
            background: $vpue-gradient-purple-to-red-vertical;
          }
        }
      }
  
    }
  
    // First level styles
    // -----------------------------------------------------------------------
    .su-multi-menu__menu-lv1 {
  
      @include grid-media("lg") {
  
        // Top level list items.
        // --------------------------
        > .su-multi-menu__item {
  
          // First level current items.
          &.su-multi-menu__item--current {
            > .su-multi-menu__link {
  
              &::before {
                background: $vpue-gradient-purple-to-red;
              }
  
            }
          }
        }
      }
    }
  }

  .su-multi-menu,
  .su-site-search {
    font-family: $su-font-sans;
  }

  .su-lockup__custom-logo {
    max-width: 300px;
  }

  .su-lockup__cell1 {
    max-width: 300px;
  }

  @include grid-media-min('lg') {
    .su-lockup__cell2 {
      margin-bottom: 17px;
    }
  }

}


.su-multi-menu.su-multi-menu--dropdowns {
  .su-multi-menu__menu {

    >.su-multi-menu__item--parent {
      .su-nav-toggle {

        @include grid-media-min('lg') {
          &:active,
          &:focus,
          &:hover,
          &:active,
          &:focus {
            &[aria-expanded=false],
            &[aria-expanded=true] {
              border-width: 3px;
            }
          }
        }
      }
    }
  }
}
