@charset "UTF-8";

.vpue-fat-footer {
  .vpue-fat-footer__map-link {
    color: $vpue-color-off-white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;


    &:hover,
    &:focus {
      text-decoration: underline;
      color: $vpue-color-orange;
    }

    &::after {
      background-color: $vpue-color-off-white;
    }

    &:hover,
    &:focus {
      &::after {
        background-color: $vpue-color-orange;
      }
    }
  }

  .vpue-fat-footer__list-heading-column1b {
    @include modular-spacing('padding-top', 2);
  }

  // Social link styles
  .vpue-fat-footer__social-links {
    i::before {
      color: $vpue-color-off-white;
    }

    span {
      font-weight: bold;
      font-size: 2.5rem;
      font-family: serif;
      padding-bottom: 1rem;
    }
  }

  // Action link styles
  .vpue-fat-footer__action-links {
    a {
      color: $vpue-color-off-white;
      font-size: 1.8rem;

      &:hover,
      &:focus {
        text-decoration: underline;
        color: $vpue-color-orange;
      }

      &::after {
        display: none;
      }
    }
  }

  nav {
    // all regular navigation links
    a {
      @include sans;
      color: $vpue-color-off-white;
      text-decoration: none;
      font-weight: 300;

      &:hover,
      &:focus {
        text-decoration: underline;
        color: $vpue-color-orange;
      }

      &.su-link--external::after {
        display: none;
      }
    }
  }

  .vpue-fat-footer__list-heading {
    padding-bottom: 0;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}
