@charset "UTF-8";


/* First Column Styles */
.vpue-fat-footer {

  a.mailto svg {
    fill: $vpue-color-off-white;
  
    &:hover,
    &:focus {
      fill: $vpue-color-orange;
    }
  }

  .vpue-fat-footer__logo {
    @include modular-spacing('padding-top', 4);
    @include modular-spacing('padding-left', 4);
  }

  .vpue-fat-footer__address {
    @include modular-spacing('padding-bottom', 2);
    font-size: 1.8rem;

    .address {
      margin-bottom: 0; // to create consistent spacing added around the section
    }
  }

  .vpue-fat-footer__contact {
    @include modular-spacing('padding-bottom', 2);

    .contact-line1 {
      font-size: 2.4rem;
      @include vpue-font--lora-base;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }

    .contact-link {
      font-weight: 700;
      color: $vpue-color-off-white;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
        color: $vpue-color-orange;
      }

      &::after {
        fill: $vpue-color-off-white;
      }
  
      &:hover,
      &:focus {
        &::after {
          background-color: $vpue-color-orange;
        }
      }
    }

    .contact-phone {
      font-weight: normal;
    }
  }

  .vpue-fat-footer__social-links {
    padding-left: 2px; // needed for tabbing experience
  }
}
