@charset "UTF-8";

/* First Column Styles */
.vpue-fat-footer {

    &__lockup-wordmark {
        color: #fff;
    }

    &__lockup-line1 {
        color: #fff;
    }

    &__lockup-line5 {
        color: #fff;
    }

    &__contact {
        padding-bottom: 3rem;
    }
}