@charset "UTF-8";

.vpue-fat-footer {
  .vpue-fat-footer__map-link {
    color: $vpue-color-off-white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;


    &:hover,
    &:focus {
      text-decoration: underline;
      color: $vpue-color-orange;
    }

    &::after {
      background-color: $vpue-color-off-white;
    }

    &:hover,
    &:focus {
      &::after {
        background-color: $vpue-color-orange;
      }
    }
  }

  .vpue-fat-footer__list-heading-column1b {
    @include modular-spacing('padding-top', 2);
  }

  // Social link styles
  .vpue-fat-footer__social-links {
    i::before {
      color: $vpue-color-off-white;
    }

    span {
      font-weight: bold;
      font-size: 2.5rem;
      font-family: serif;
      padding-bottom: 1rem;
    }

    .su-local-footer__social-twitter {
      i {
        &::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#edeff0' height='20' width='20' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z'/%3E%3C/svg%3E");
        }
      }

      &:hover,
      &:focus {
        i {
          &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#657786' height='20' width='20' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }

  // Action link styles
  .vpue-fat-footer__action-links {
    a {
      color: $vpue-color-off-white;
      font-size: 1.8rem;

      &:hover,
      &:focus {
        text-decoration: underline;
        color: $vpue-color-orange;
      }

      &::after {
        display: none;
      }
    }
  }

  nav {
    // all regular navigation links
    a {
      @include sans;
      color: $vpue-color-off-white;
      text-decoration: none;
      font-weight: 300;

      &:hover,
      &:focus {
        text-decoration: underline;
        color: $vpue-color-orange;
      }

      &.su-link--external::after {
        display: none;
      }
    }
  }

  .vpue-fat-footer__list-heading {
    padding-bottom: 0;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}
