@charset "UTF-8";

/* First Column Styles */
.vpue-fat-footer {
    .vpue-lockup__wordmark {
        color: #fff;
    }

    .vpue-lockup__line1 {
        color: #fff;
    }

    .vpue-lockup__line5 {
        color: #fff;
    }
}