@charset "UTF-8";

/* Footer Layout */
.vpue-fat-footer {

  color: $vpue-color-off-white;
  background: $vpue-gradient-black-to-purple;

  .vpue-gradient-divider {
    height: 1rem;
    background: $vpue-gradient-footer-divider;
  }

  .vpue-fat-footer__header {
    padding-top: 0;
  }

  .vpue-fat-footer__lockup {
    width: 100%;
    @include modular-spacing('padding-bottom', 2);

    .su-lockup__cell1 {
      @include grid-media('md') {
        border-right: 1px solid $vpue-color-off-white;
      }
    }

    .su-lockup__cell2 {
      @include grid-media('md') {
        border-left: 1px solid $vpue-color-off-white;
      }
    }

    .vpue-fat-footer__lockup-wordmark {
      color: $vpue-color-off-white;
    }

    .vpue-fat-footer__lockup-line1 {
      color: $vpue-color-off-white;
      font-family: sans-serif;

      @include grid-media-max('sm') {
        &::after {
          @include margin(0.5rem null 0.5rem);
          border-bottom: 1px solid $vpue-color-off-white;
        }
      }
    }

    .vpue-fat-footer__lockup-line5 {
      color: $vpue-color-off-white;
      font-size: 1.9rem;
    }
    
    
  }
  
  .vpue-fat-footer__description {
    @include modular-spacing('padding-bottom', 2);
  }
  
  .vpue-fat-footer__columns {
    @include modular-spacing('padding-top', 2);

    @include grid-media-min('md') { // 768px
      grid-template-columns: 1fr 1fr;
      column-gap: 90px;
      grid-template-areas: "A B" "C C";
    }

    @include grid-media-min('xl') { // 1200px
      grid-template-columns: 1fr 2fr;
      column-gap: 90px;
      grid-template-areas: "A B";
    }
  }
}
