@charset "UTF-8";

/* Footer Layout */
.vpue-fat-footer {
  // Test Start

  .su-lockup,
  .su-lockup > a {
    @include flex-container;
    align-items: stretch;
    justify-content: flex-start;
    vertical-align: bottom;
  }

  .su-lockup__cell1 {
    min-height: 26px;
    vertical-align: bottom;
    width: auto;

    @include margin(null -1px null null);
    @include padding(null 7px 0 null);
    align-self: flex-end;
    border-right: solid 1px $su-color-black;
    display: flex;
    flex-shrink: 1;
    max-width: 160px;
    min-height: 32px;
  }

  .su-lockup__cell2 {
    @include padding(0 null null 7px);
    align-self: flex-end;
    border-left: solid 1px $su-color-black;
    flex-grow: 1;
    vertical-align: bottom;

    // @include grid-media('sm') {
    //   @include padding(0 null null 7px);
    //   align-self: flex-end;
    //   border-left: solid 1px $su-color-black;
    //   flex-grow: 1;
    //   vertical-align: bottom;
    // }
  }
  
  // .su-lockup__wordmark {
  //   @include logo;
  //   color: color(brand);
  //   font-size: 36px;
  //   line-height: 17px;
  //   vertical-align: bottom;
  
  //   @include grid-media('sm') {
  //     font-size: 46px;
  //     line-height: 21px;
  //   }
  // }
  
  // .su-lockup__wordmark-wrapper {
  //   line-height: 26px;
  
  //   @include grid-media('sm') {
  //     line-height: 32px;
  //   }
  // }

  .su-lockup__line5 {
    font-size: 2.7rem;
    line-height: 1em;
    width: 100%;
  
    @include grid-media('sm') {
      @include margin(8px null null null);
      font-size: 3rem;
    }

    // @include margin(8px null null null);
    // font-size: 3rem;
  }


  // Test End

  color: $vpue-color-off-white;
  background: $vpue-gradient-black-to-purple;
  background-color: $su-color-black;
  font-weight: 300;

  .vpue-gradient-divider {
    height: 1rem;
    background: $vpue-gradient-footer-divider;
  }

  .vpue-fat-footer__header {
    padding-top: 0;
  }

  .vpue-fat-footer__lockup {
    width: 100%;
    @include modular-spacing('padding-bottom', 2);

    .su-lockup__cell1 {
      border-right: 1px solid $vpue-color-off-white;
    }

    .su-lockup__cell2 {
      border-left: 1px solid $vpue-color-off-white;
    }

    .vpue-fat-footer__lockup-wordmark {
      color: $vpue-color-off-white;
    }

    .vpue-fat-footer__lockup-line1 {
      color: $vpue-color-off-white;
      font-family: sans-serif;
      // font-size: 3.3rem;

      @include grid-media-max('sm') {
        &::after {
          display: none;
        }
      }
    }

    .vpue-fat-footer__lockup-line5 {
      color: $vpue-color-off-white;
      font-size: 1.9rem;
      font-weight: 400;
    }
  }
  
  .vpue-fat-footer__description {
    @include modular-spacing('padding-bottom', 2);

    @include grid-media-max('sm') {
      padding-right: 5rem;
    }
  }
  
  .vpue-fat-footer__columns {
    @include modular-spacing('padding-top', 2);

    @include grid-media-min('md') { // 768px
      grid-template-columns: 1fr 1fr;
      column-gap: 90px;
      grid-template-areas: "A B" "C C";
    }

    @include grid-media-min('xl') { // 1200px
      grid-template-columns: 1fr 2fr;
      column-gap: 90px;
      grid-template-areas: "A B";
    }
  }
}
