{#
/**
 * @file
 * Brand Bar Component.
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - modifier_class: Additional css classes to change look and behaviour.
 */
#}
<div class="su-brand-bar"></div>