@charset 'UTF-8';

.ptype-stanford-filtered-lists {
  .grid-container-3 {
    @include grid-media('md') {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include grid-media('lg') {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include grid-media('2xl') {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
