@charset "UTF-8";

// This Hero banner is only for the front page of site on VPUE subtheme

.front {

  // Move the image up more to compensate for the admin interface.
  &.role--authenticated {
    .su-page-banner {
      .vpue-hero-banner--has-image {
        margin-top: -282px;

        @media only screen and (min-width: 992px) and (max-width: 1457px) {
          margin-top: -405px;
        }

        @include grid-media-min('xl') {
          margin-top: -347px;
        }
      }
    }

    .block--local-tasks {
      z-index: 10;
    }
  }

  .su-skipnav {
    z-index: 16;
    background-color: $su-color-white;
  }

  // Moving the alert to the top when
  .su-alert {
    position: relative;
    top: -225px;
    z-index: 15;
  }

  // Remove the red brand bar
  .su-brand-bar {
    display: none;
  }

  .su-masthead {
    .su-site-search__input {
      background: transparent;
      border: 1px solid $su-color-white;
      color: $su-color-white;
      font-family: $su-font-sans;

      &::placeholder {
        color: $su-color-white;
      }
    }
  }

  header {
    background: transparent;
    box-shadow: none;
  }

  .su-page-banner {
    .vpue-hero-banner--has-image {
      position: relative;
      margin-top: -286px;
      width: 100vw;
      z-index: 1; //To allow access to click link.

      @include grid-media('sm') {
        margin-top: -290px;
      }

      @include grid-media('md') {
        margin-top: -220px;
      }

      @include grid-media('lg') {
        margin-top: -376px;
      }

      @media only screen and (min-width: 992px) and (max-width: 998px) {
        margin-top: -439px;
      }

      @include grid-media('xl') {
        margin-top: -290px;
      }
    }

    .su-hero {
      position: relative;
      justify-content: flex-end;

      // Where we set the height of the hero block image
      @include grid-media-min('lg') {
        min-height: 800px;

        // Fix for accessbility per ODA request. Images are often turned off.
        background-color: $su-color-black;
        z-index: -1;
      }

      @include grid-media-max('md') {
        min-height: 450px;
      }

      // Fix for accessbility per ODA request. Images are often turned off. Without the min-height everything
      // collaspes up and is invisible.
      .su-hero__media {
        .image,
        .media,
        & > article,
        & > div {
          min-height: 350px;
        }
      }
    }

    .su-hero__media {
      @include vpue--image-top-gradient-new;

      // changing the gradient for small and smaller screens
      @include grid-media-max('sm') {
        @include vpue--image-top-gradient-reversed;
      }

      picture {
        position: relative;
        z-index: -1;
        display: block;

        // removing the image for small and xs screens
        @include grid-media-max('sm') {
          display: block;
          position: absolute;
          z-index: 1;
        }
      }

      // Move the card below the image
      @include grid-media-max('md') {
        position: relative;
      }
    }

    .su-card__contents {
      > h2 {
        @include grid-media-min('md') {
          @include modular-typography(4);
        }

        > a {
          @include vpue-gradient--link;

          @include grid-media-max('md') {
            color: $su-color-black;
            text-align: left;
          }

          &::after {
            background-color: $su-color-white;
            height: 0.4em;
            width: 0.4em;
          }


          &:hover,
          &:focus,
          &:visited {
            @include vpue-gradient--link-hover;

            color: $su-color-black;
            text-decoration: none;

            // Color change for on the image
            @include grid-media-min('md') {
              color: $su-color-white;
            }

            // Color change for below the image
            @include grid-media-max('md') {
              color: $su-color-black;
            }
          }
        }
      }

      > a {
        background-position: 0 70%;

        &:hover,
        &:focus,
        &:visited {
          background-position: 0 70%;
        }
      }
    }

    a,
    p {
      @include grid-media-min('lg') {
        @include modular-typography(2);
      }

      color: $su-color-white;
      font-weight: $su-font-bold;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        @include vpue-gradient--link-hover;
      }

      // Color change for below the image
      @include grid-media-max('md') {
        color: $su-color-black;
      }
    }

    .su-hero__card {
      background: transparent;
      border: 0;
      box-shadow: none;
      color: $su-color-white;
      max-width: 94vw;
      text-align: center;

      // Color change for below the image
      @include grid-media-max('md') {
        color: $su-color-black;
        text-align: left;
      }
    }

    span {
      color: $su-color-white;
      font-family: $su-font-sans;
      text-transform: uppercase;

      // Color change for below the image
      @include grid-media-max('md') {
        color: $su-color-cardinal-red;
      }
    }
  }
}
