@charset "UTF-8";

// This Hero banner is only for the front page of site on VPUE subtheme

.front {

  // To have it look correct in admin view.
  &.role--authenticated {
    .su-page-banner {
      .vpue-hero-banner--has-image {
        margin-top: -282px;
      }
    }

    .block--local-tasks {
      z-index: 11;
    }
  }

  // Moving the alert to the top when
  .su-alert {
    position: relative;
    top: -225px;
    z-index: 15;
  }

  // Remove the red brand bar
  .su-brand-bar {
    display: none;
  }

  .su-masthead {
    .su-site-search__input {
      background: transparent;
      border: 1px solid $su-color-white;
      color: $su-color-white;
      font-family: $su-font-sans;

      &::placeholder {
        color: $su-color-white;
      }
    }
  }

  header {
    background: transparent;
    box-shadow: none;
  }

  .su-page-banner {
    .vpue-hero-banner--has-image {
      position: relative;
      margin-top: -225px;
      width: 100vw;

      @media only screen and (min-width: 992px) and (max-width: 1259px) {
        margin-top: -285px;
      }
    }

    .su-hero {
      position: relative;
      justify-content: flex-end;

      // Where we are setting the height of the hero block image
      @include grid-media-min('lg') {
        min-height: 800px;
      }

      @include grid-media-max('md') {
        min-height: 275px;
      }
    }

    .su-hero__media {
      @include vpue--image-top-gradient;

      picture {
        position: relative;
        z-index: -1;
        display: block;
      }

      //move the card below the image
      @include grid-media-max('md') {
        position: relative;
      }
    }

    .su-card__contents {
      > h2 {
        @include grid-media-min('md') {
          @include modular-typography(4);
        }

        > a {
          @include vpue-gradient--link;

          @include grid-media-max('md') {
            color: $su-color-black;
            text-align: left;
          }

          &:hover,
          &:focus,
          &:visited {
            @include vpue-gradient--link-hover;

            color: $su-color-black;
            text-decoration: none;

            // color change for on the image
            @include grid-media-min('md') {
              color: $su-color-white;
            }

            // color change for below the image
            @include grid-media-max('md') {
              color: $su-color-black;
            }
          }
        }
      }

      > a {
        background-position: 0 70%;

        &:hover,
        &:focus,
        &:visited {
          background-position: 0 70%;
        }
      }
    }

    a {
      @include grid-media-min('lg') {
        @include modular-typography(2);
      }

      color: $su-color-white;
      font-weight: $su-font-bold;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        @include vpue-gradient--link-hover;
      }

      // color change for below the image
      @include grid-media-max('md') {
        color: $su-color-black;
      }
    }

    .su-hero__card {
      background: transparent;
      border: 0;
      box-shadow: none;
      color: $su-color-white;
      max-width: 94vw;
      text-align: center;

      // color change for below the image
      @include grid-media-max('md') {
        color: $su-color-black;
        text-align: left;
      }
    }

    span {
      color: $su-color-white;
      font-family: $su-font-sans;
      text-transform: uppercase;

      // color change for below the image
      @include grid-media-max('md') {
        color: $vpue-color-purple;
      }
    }
  }
}
