@charset "UTF-8";

// Override default Opportunity CT styles here

.opportunity {
  .main-region {
    @include sans;

    h2 {
      @include sans;
    }

    .su-opp-course-code {
      font-size: 1.6em;
    }
  }
}

// Card Display
.ds-entity--stanford-opportunity,
.stanford-opportunities-filtered {
  .su-card {
    .su-card__superhead {
      font-family: sans-serif;
    }
  }

  .su-news-article {
    .su-news-list__topics {
      font-family: sans-serif;
      padding-bottom: 5px;
      font-size: 17px;
    }
  }
}
