@charset "UTF-8";

.su-wysiwyg-text {

    .big-red-list {
        list-style: none;
        counter-reset: big-red-list;

        @include grid-media-max('lg') {
            margin-left: 1em;
        }

        @include grid-media-max('md') {
            margin-left: 1.5em;
        }

        li {
            counter-increment: big-red-list;
            border-left: 1px solid $su-color-bright-red;
            padding: 0 0 1em 1em;
            margin-bottom: 3em;

            &::marker {
                content: counter(big-red-list) ". ";
                color: $su-color-bright-red;
                font-weight: 700;
                font-size: 2em;
                margin-right: 1em;
                padding-right: 30px;
              }
          }
    }

    .inline-heading {
        :is(h1, h2, h3, h4, h5, h6),
        .image {
            display: inline-block;
            vertical-align: top;
        }

        :is(h1, h2, h3, h4, h5, h6) + .image {
            padding-left: 1em;
        }

        .image + :is(h1, h2, h3, h4, h5, h6) {
            padding-left: 1em;
        }

    }
}
