@charset "UTF-8";

.su-wysiwyg-text {

    .vpue-big-red-list {
        list-style: none;
        counter-reset: big-red-list;

        li {
            counter-increment: big-red-list;
            border-left: 1px solid $su-color-bright-red;
            padding: 0 0 0 1em;

            &::marker {
                content: counter(big-red-list) ". ";
                color: $su-color-bright-red;
                font-weight: 700;
                font-size: 2em;
                margin-right: 1em;
                padding-right: 30px;
              }
          }
    }
}
